<div class="row" dir="rtl">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title float-right">הזמנות</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <% for(var f of children){ %>
          <div class="col-2 my-3" style="position: relative;">
            <img src="<%=f.picture.secure_url%>" alt="" style="width: 100%;height: 100%;">
            <span class="delete" data-id="<%=f._id%>"><i class="fa fa-times"></i></span>
          </div>
          <%}%>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-success" onclick="approve()">אישור תמונות</button>
      </div>
    </div>
  </div>
</div>

<style>
  .delete{
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
  }
</style>

<script>
  var children = <%- JSON.stringify(children) %>;
  
  console.log(children)
  $('.delete').click(function (e) {
    var id = this.getAttribute("data-id");
    console.log(id)
    $(this).parent().remove()
    children = children.filter(function (e) { return e._id != id })
    $.ajax({
      url: '/dashboard/picture',
      method: 'DELETE',
      data: { id: id },
      success: (res) => {
        console.log("deleted")
      },
      error: (res) => {
        alert(res)
      }
    })

  })

  function approve() {
    $.ajax({
      url: '/dashboard/picture',
      method: 'PATCH',
      data: { method: "approve", images: children },
      success: (res) => {
        window.location = "/dashboard"
      },
      error: (res) => {
        console.log(res)
        alert(res)
      }
    })
  }
</script>