<div class="row" dir="rtl" style="text-align: right;">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fa fa-users text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">משתתפים</p>
              <p class="card-title"><%=children%>
              <p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-refresh"></i>
                  Update Now
                </div>
              </div> -->
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fa fa-image text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">תמונות</p>
              <p class="card-title"><%=pictures%>
              <p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-calendar-o"></i>
                  Last day
                </div>
              </div> -->
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fa fa-flag text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">מחכות לאישור</p>
              <p class="card-title"><%=awaiting%>
              <p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-clock-o"></i>
                  In the last hour
                </div>
              </div> -->
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card " dir="rtl" style="text-align: right;">
      <div class="card-header ">
        <h5 class="card-title">סטטיסטיקה</h5>
        <p class="card-category">חודשי</p>
      </div>
      <div class="card-body ">
        <canvas id="chartHours" dir="rtl" width="400" height="100"></canvas>
      </div>
      <!-- <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-history"></i> Updated 3 minutes ago
                </div>
              </div> -->
    </div>
  </div>
</div>

</div>