<section id="neighborhoods" class="container my-5">
    <h3>השכונות שלנו</h3>
    <div class="container">
        <div class="row d-flex justify-content-around">
            <div class="row">
                <% for(var i=0;i<neighborhoods.length;i++){ %>
                    <a href="/neighborhoods?name=<%=neighborhoods[i].name%>" class="col-md-auto col-4 m-md-1 neighborCard d-flex flex-column">
                        <b>
                            <%=neighborhoods[i].name.includes('קריית חתני') ? "פרס נובל" : neighborhoods[i].name%>
                        </b>
                        <p class="m-0"><%=neighborhoods[i].animals.length%> משתתפים</p>
                    </a>
                    <%}%>
            </div>
        </div>

    </div>
</section>