<section id="neighborhoods" class="container my-5">
    <h3>השכונות שלנו</h3>
    <div class="container">
        <div class="row d-flex justify-content-around">
            <div class="row">
                <% for(var i=0;i<neighborhoods.length;i++){ %>
                    <a href="#" class="my-3 mx-3 col-2 neighborCard d-flex flex-column">
                        <b>
                            <%=neighborhoods[i].name%>
                        </b>
                        <p class="m-0">10 משתתפים</p>
                    </a>
                    <%}%>
            </div>
        </div>

    </div>
</section>