<div class="container mt-md-5 py-md-5" id="header">
  <div id="circle"></div>
  <div id="circle1"></div>
  <div id="circle2"></div>
  <div id="circle4"></div>
  <div id="circle5"></div>
  <div id="circle6"></div>
  <div class="row align-content-center justify-content-around">
    <div class="col-md-5 my-5 my-md-0 ">

      <h1> פורים כלבבי 2021- ראשון לציון חוגגת עם בעלי החיים בעיר</h1>
      <br>
      <p style="font-size:20px">
        השנה אנחנו חוגגים עם החברים על 4 את חג הפורים. העלו תמונות של בעלי החיים שלכם או תמונות משותפות שלכם עימם
        מחופשים ויחד ניצור אלבום פורים דיגיטלי. התמונה שתזכה במספר הלייקים הגבוה ביותר, תזכה את המשפחה בפרס שווה במיוחד
        - המוקדש באהבה לחיות העיר.
      </p>
      <button id="send" class="mt-4" data-bs-toggle="modal" data-bs-target="#uploadModal">העלו תמונה</button>
      <br>
      <!-- <p class="mt-4">
        <b>
          בשיתוף עם עמותת "ראשון אוהבת חיות"
        </b>
      </p> -->
    </div>
    <div class="col-md-5">
      <img id="theMain" class="mb-5" src="assets/images/main.jpeg" width="100%">

    </div>
  </div>
</div>


<!-- <div id="containerMain">
  <div id="container1">

  </div>
  <div id="container2">
  </div>
</div> -->