<div class="container" id="header">
  <div id="circle"></div>
  <div id="circle1"></div>
  <div id="circle2"></div>
  <div id="circle4"></div>
  <div id="circle5"></div>
  <div id="circle6"></div>
  <div class="row align-content-center justify-content-around">
    <div class="col-md-5 my-5 my-md-0">
      <h1>Purim 2021</h1>
      <h3> תחרות תחפושות
        <br>
        לחצו על הכפתור הכחול בשביל להירשם
        <br>
      </h3>
      <button id="send" data-bs-toggle="modal" data-bs-target="#uploadModal">השתתפו בתחרות</button>
    </div>
    <div class="col-md-5">
      <img id="theMain"
        src="assets/images/main.jpeg"
        width="100%">
    </div>
  </div>
</div>


<!-- <div id="containerMain">
  <div id="container1">

  </div>
  <div id="container2">
  </div>
</div> -->