<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
<style>
#theMain{
    float: left; 
    padding-left:300px;

}
#theWords{
    float:right;
    padding-right:200px;
    font-size:30px;
    list-style-type:none;
}
#circle{
    position:absolute;
    z-index:-1;
    top:5%;
    right:55%;
    background-color:lightpink;
    border-radius: 500px;
    height:50px;
    width: 50px;

}
#circle1{
    position:absolute;
    z-index:-1;
    top:80%;
    right:50%;
    background-color:lightpink;
    border-radius: 500px;
    height:50px;
    width: 50px;
}
#circle2{
    position:absolute;
    z-index:-1;
    top:7%;
    right:75%;
    background-color:lightpink;
    border-radius: 500px;
    height:50px;
    width: 50px;  
}
#circle3{
    position:absolute;
    z-index:-1;
    top:50%;
    right:95%;
    background-color:lightpink;
    border-radius: 500px;
    height:50px;
    width: 50px; 
}
#circle4{
    position:absolute;
    z-index:-1;
    top:5%;
    right:5%;
    background-color:lightpink;
    border-radius: 500px;
    height:50px;
    width: 50px;   
}
#circle5{
    position:absolute;
    z-index:-1;
    top:58%;
    right:10%;
    background-color:lightpink;
    border-radius: 500px;
    height:50px;
    width: 50px;  
}
#circle6{
    position:absolute;
    z-index:-1;
    top:62%;
    right:71%;
    background-color:lightpink;
    border-radius: 500px;
    height:50px;
    width: 50px;  
}
#send{
    border-radius: 20px;
    background-color:cornflowerblue;
    color: cornsilk;
    font-size: 20px;
}
#container2{
    float:right; 
    padding-right:100px;
    font-family: Arial, Helvetica, sans-serif;

}
</style>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <div id="containerMain">
  
    
        <div id="container1">
        <img id="theMain" src="https://images.unsplash.com/photo-1554298377-9e4df6fd965c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=984&q=80" width="450" height="400">  
    </div>
    <div id="container2" >
    <h2>פורים 2021</h2>
        <h3> תחרות תחפושות
      <br>
        לחצו על הכפתור הכחול בשביל להירשם
      <br>
    </h3>
      <button id="send">השתתפו בתחרות</button>
    
    <div id="circle"></div>
    <div id="circle1"></div>
    <div id="circle2"></div>
    <div id="circle4"></div>
    <div id="circle5"></div>
    <div id="circle6"></div>
</div>
    </div>
</html>  

 

