<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
<style>
#theMain{
    float: left;
    padding:80px;
    padding-left:300px;
}
#theWords{
    float:right;
    padding:80px;
    padding-right:300px;
    font-size:30px;
    list-style-type:none;
}
#circle{
    position:absolute;
    z-index:-1;
    top:30%;
    right:30%;
    background-color: rgb(223, 170, 152);
    border-radius: 500px;
    height:50px;
    width: 50px;

}
#circle1{
    position:absolute;
    z-index:-1;
    top:40%;
    right:50%;
    background-color: rgb(223, 170, 152);
    border-radius: 500px;
    height:50px;
    width: 50px;
}
#circle2{
    position:absolute;
    z-index:-1;
    top:15%;
    right:85%;
    background-color: rgb(223, 170, 152);
    border-radius: 500px;
    height:50px;
    width: 50px;  
}
#circle3{
    position:absolute;
    z-index:-1;
    top:50%;
    right:95%;
    background-color: rgb(223, 170, 152);
    border-radius: 500px;
    height:50px;
    width: 50px; 
}
#circle4{
    position:absolute;
    z-index:-1;
    top:20%;
    right:5%;
    background-color: rgb(223, 170, 152);
    border-radius: 500px;
    height:50px;
    width: 50px;   
}
#circle5{
    position:absolute;
    z-index:-1;
    top:58%;
    right:10%;
    background-color: rgb(223, 170, 152);
    border-radius: 500px;
    height:50px;
    width: 50px;  
}
</style>
</head>
<body>+
    
     <img id="theMain" src="https://www.kveller.com/wp-content/uploads/2019/03/purim-celebration-concept-over-wooden-white-background-picture-id1129386838.jpg" width="400" height="400">
     <div id="theWords">
     <h3>Purim 2021</h3>
    <ul>
        <li>תחרות תחפושות</li>
        <li>הרשמו עוד היום</li>
        <li><button>לחצו עליי</button></li>
    </ul>
    </div>
    <div id="circle">.</div>
    <div id="circle1">.</div>
    <div id="circle2">.</div>
    <div id="circle3">.</div>
    <div id="circle4">.</div>
    <div id="circle5">.</div>
    <br>
    <br>
    <div class="card" style="width: 18rem;">
        <img src="https://cashcow-cdn.azureedge.net/images/0e2bdcd0-4caf-429d-b216-92d7c33fa7de.png" width="100" height="100" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </body>
</html>   

