<div class="container mt-md-5" id="header">
  <div id="circle"></div>
  <div id="circle1"></div>
  <div id="circle2"></div>
  <div id="circle4"></div>
  <div id="circle5"></div>
  <div id="circle6"></div>
  <div class="row align-content-center justify-content-around">
    <div class="col-md-5 my-5 my-md-0 ">

      <h1> פורים כלבבי 2021- ראשון לציון חוגגת עם בעלי החיים בעיר</h1>
      <br>
      <p style="font-size:20px">


        השנה גם בעלי החיים בעיר מוזמנים להצטרף ולחגוג עימנו את חג הפורים.

        העלו תמונות של בעלי החיים שלכם או תמונות משותפות שלכם עימם מחופשים

        ויחד ניצור אלבום פורים דיגיטלי, המוקדש באהבה לחיות העיר.
      </p>
      <button id="send" class="mt-4" data-bs-toggle="modal" data-bs-target="#uploadModal">העלו תמונה</button>
      <br>
      <!-- <p class="mt-4">
        <b>
          בשיתוף עם עמותת "ראשון אוהבת חיות"
        </b>
      </p> -->
    </div>
    <div class="col-md-5">
      <img id="theMain" src="assets/images/main.jpeg" width="100%">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p class="mt-4" style="text-align: center;">
              <b>
                בשיתוף עם עמותת "ראשון אוהבת חיות"
              </b>
            </p>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <img src="assets/images/rishon_hayot.jpeg" height="200px" width="200px" alt="">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- <div id="containerMain">
  <div id="container1">

  </div>
  <div id="container2">
  </div>
</div> -->