<div class="container">
    <div class="row">
        <h2 id="text">פרויקט פורים - 2021</h2>
    </div>
    <div class="row">
        <p id="text"> פרויקט של עיריית ראשון לציון בשיתוף עם עמותת אליסקוד</p>
    </div>
    <div class="row justify-content-end">
        <div class="col-auto">
            <img src="assets/images/rishon.svg" height="35px" alt="" class="end_image">

        </div>
        <div class="col-auto">
            <img src="assets/images/kehila.png" class="end_image" height="40px" alt="">
        </div>
        <div class="col-auto">
            <img class="mx-4" src="assets/images/startup.svg" height="35px" alt="" class="end_image">
        </div>
        <div class="col-auto">
            <a href="https://www.alicecode.org" target="_blank" rel="noopener noreferrer">
                <img src="assets/images/alicecode.jpg" class="ms-4" height="40px" alt="">
            </a>
        </div>
        <div class="row justify-content-end"><div class="container">
            <div class="row">
                <div class="col-sm">
                    <p style= "text-align: center;"> האתר נוצר על ידי בנות מוכשרות מאוד צעירות ויפות ובוריס</p>

                </div>
              <div class="col-sm">
                <img src="assets/images/alisa.jpeg" style= "text-align: center; border-radius: 50%;" class="mx-auto d-block
                " height="80px" alt="">
                <p style= "text-align: center;">אליסה, 16</p>

              </div>
              
              <div class="col-sm">
                <img src="assets/images/eden.jpeg" style= "text-align: center; border-radius: 50%;" class="mx-auto d-block
                " height="80px" alt="">
                <p style= "text-align: center;">עדן, 16</p>

              </div>
              <div class="col-sm">
                <img src="assets/images/karin.jpeg" style= "text-align: center; border-radius: 50%;" class="mx-auto d-block
                " height="80px" alt="">
                <p style= "text-align: center;">קארין, 16</p>

              </div>
              <div class="col-sm">
                <img src="assets/images/shani.jpeg" style= "text-align: center; border-radius: 50%;" class="mx-auto d-block
                " height="80px" alt="">
                <p style= "text-align: center;">שני, 13</p>

              </div>
              
            </div>
          </div>  
        </div>
    </div>
</div>