<footer style="background-color: rgba(240, 240, 240, 1);" class="py-3 ">
  <div class="container mt-5">
    <div class="col-sm">
      <p style="text-align: center;"> האתר נוצר על ידי </p>

    </div>
    <div class="row align-items-center justify-content-around">
      <div class="col-md-2 col-4">
        <img src="assets/images/alisa.jpeg" style="text-align: center; border-radius: 50%;" class="mx-auto d-block profile
                " height="80px" alt="">
        <p style="text-align: center;">אליסה, 16</p>

      </div>

      <div class="col-md-2 col-4">
        <img src="assets/images/eden.jpeg" style="text-align: center; border-radius: 50%;" class="mx-auto d-block profile
                " height="80px" alt="">
        <p style="text-align: center;">עדן, 16</p>

      </div>
      <div class="col-md-2 col-4">
        <img src="assets/images/karin.jpeg" style="text-align: center; border-radius: 50%;" class="mx-auto d-block profile
                " height="80px" alt="">
        <p style="text-align: center;">קארין, 16</p>

      </div>
      <div class="col-md-2 col-4">
        <img src="assets/images/shani.jpeg" style="text-align: center; border-radius: 50%;" class="mx-auto d-block profile
                " height="80px" alt="">
        <p style="text-align: center;">שני, 13</p>

      </div>
      <div class="col-md-2 col-4">
        <img src="assets/images/boris.jpg" style="text-align: center; border-radius: 50%;" class="mx-auto d-block profile
                " height="80px" alt="">
        <p style="text-align: center;">בוריס</p>
      </div>
      <div class="col-md-2 col-4">
        <a href="https://www.linkedin.com/in/ifatneumann/">
          <img src="assets/images/ifat.jpeg"
            style="text-align: center; border-radius: 500px;object-fit: cover;object-position: top;" class="mx-auto d-block profile
                " height="80px" width="80px" alt="">
        </a>
        <p style="text-align: center;">יפעת</p>
      </div>
    </div>
    <div class="row justify-content-md-center justify-content-around align-items-center">
      <div class="col-auto">
        <img src="assets/images/rishon.svg" height="35px" alt="" class="end_image">

      </div>
      <div class="col-auto">
        <img src="assets/images/kehila.png" class="end_image  biggerPhoto" height="40px" alt="">
      </div>
      <div class="col-auto">
        <a href="http://www.rishonstartup.co.il/">
        <img class="mx-4" src="assets/images/startup.svg" height="35px" alt="" class="end_image">
        </a>
      </div>
      <div class="col-auto">
        <a href="https://www.alicecode.org" target="_blank" rel="noopener noreferrer">
          <img src="assets/images/alicecode.png" class="ms-4 biggerPhoto" height="90px" alt="">
        </a>
      </div>
    </div>

    <!-- <div class="row justify-content-end">

      <div class="row justify-content-end">
        <div class="container">
          <div class="row">
            

          </div>
        </div>
      </div>
    </div> -->
  </div>
</footer>