    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <h2 id="text">פרויקט פורים - 2021</h2>
    <p id="text"> פרויקט של עיריית ראשון לציון בשיתוף עם עמותת אליסקוד</p>    
        <div class="container-fluid">
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0"> -->
                    <img src="assets/images/rishon.svg" height="35px" alt="" class="end_image">
                    <img src="assets/images/kehila.png" class="end_image" height="40px" alt="">
                    <img class="mx-4" src="assets/images/startup.svg" height="35px" alt="" class="end_image">
                </div>
            </div>
            </nav>
            