<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li>
                    <a class="nav-link active" aria-current="page" href="#">דף הבית</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#neighborhoods">שכונות העיר</a>
                </li>
                <form class="d-flex ms-5">
                    <input class="form-control me-2" type="search" placeholder="חיפוש שכונה" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">חיפוש</button>
                </form>
            </ul>
            <img class="navImage ms-4" src="assets/images/rishon.svg" alt="">
            <img class="navImage ms-4" src="assets/images/kehila.png" alt="">
            <!-- <a href="https://www.alicecode.org" target="_blank" rel="noopener noreferrer"> -->
            <img src="assets/images/alicecode.jpg" class="navImage ms-4" alt="">
            <!-- </a> -->
            <img class="navImage mx-4"src="assets/images/startup.svg" alt="">
        </div>
    </div>
</nav>