<!DOCTYPE html>
<html lang="he" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
    <title>Document </title>
=======
    <title>document</title>
>>>>>>> 3ae60e750a83d0570d5d226c3407e0be24890c72

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.rtl.min.css"
        integrity="sha384-mUkCBeyHPdg0tqB6JDd+65Gpw5h/l8DKcCTV2D2UpaMMFd7Jo8A+mDAosaWgFBPl" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/index.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <!-- <a class="navbar-brand" href="#">Alice Code</a> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ms-md-5" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">דף הבית</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">בתי ספר</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">תחפושות</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shani">shani's page</a>
                    </li>
                </ul>
                <img src="assets/images/rishon.svg" height="35px" alt="">
                <img src="assets/images/kehila.png" class="ms-4" height="40px" alt="">
                <a href="https://www.alicecode.org" target="_blank" rel="noopener noreferrer">
                    <img src="assets/images/alicecode.jpg" class="ms-4" height="40px" alt="">
                </a>
                <img class="mx-4" src="assets/images/startup.svg" height="35px" alt="">
            </div>
        </div>
    </nav>

    <header style="height: 100%;">
        <div class="container d-flex" style="position: relative;">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-5">
                    <h2>
                        פורים 2021
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                        dolores et ea rebum
                    </p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#uploadModal">
                        Launch demo modal
                    </button>
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <img src="https://images.unsplash.com/photo-1572885720267-ba099d26ff6a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=701&q=80"
                        alt="">
                </div>
            </div>
            <div class="circle first"></div>
            <div class="circle second"></div>
            <div class="circle third"></div>
            <div class="circle fourth"></div>
            <!-- <div class="circle fifth"></div> -->
        </div>
    </header>

    <section id="leading">
        <h3>התחפושות המובילות</h3>
        <div class="container">
            <div class="row d-flex justify-content-around my-5">
                <div class="col-3">
                    <article class="leader">
                        <img src="https://images.unsplash.com/photo-1572885720267-ba099d26ff6a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=701&q=80"
                            alt="">
                        <div class="bottom">
                        </div>
                    </article>
                </div>
                <div class="col-3">
                    <article class="leader">
                        <img src="https://images.unsplash.com/photo-1572885720267-ba099d26ff6a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=701&q=80"
                            alt="">
                        <div class="bottom">
                        </div>
                    </article>
                </div>
                <div class="col-3">
                    <article class="leader">
                        <img src="https://images.unsplash.com/photo-1572885720267-ba099d26ff6a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=701&q=80"
                            alt="">
                        <div class="bottom">
                        </div>
                    </article>
                </div>
            </div>
            <div class="row d-flex justify-content-around">
                <% for(var i=0;i<children.length;i++){ %>
                    <article class="subLeader">
                        <img src="<%=children[i].picture.secure_url%>" alt="">
                        <div class="bottom">
                            <p>
                                <%=children[i].firstName%>
                            </p>
                        </div>
                    </article>
                    <%}%>
            </div>
        </div>
    </section>

    <section id="participants" class="py-4">
        <h3>בתי הספר המשתתפים</h3>
        <div class="row d-flex justify-content-around">
            <% for(var i=0;i<10;i++){ %>
                <div class="col-2 my-3 card d-flex align-items-center justify-content-center">
                    <h5>אביבים</h5>
                    <p>20 משתתפים</p>
                </div>
                <%}%>
        </div>
    </section>

    <div class="modal fade" id="uploadModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <form action="/upload" method="POST">
                        <div class="container">
                            <div class="row">
                                <h3 class="text-center">העלאת תמונה</h3>
                                <p class="text-center">ברוכים הבאים לתחרות פורים של ראשון לציון</p>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">שם פרטי</label>
                                        <input type="text" class="form-control" name="firstName" placeholder="שם פרטי">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">שם משפחה</label>
                                        <input type="text" class="form-control" name="lastName" placeholder="שם משפחה">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">באיזה כיתם אתם?</label>
                                        <select class="form-select" name="grade">
                                            <option value="א">א</option>
                                            <option value="ב">ב</option>
                                            <option value="ג">ג</option>
                                            <option value="ד">ד</option>
                                            <option value="ה">ה</option>
                                            <option value="ו">ו</option>
                                            <option value="ז">ז</option>
                                            <option value="ח">ח</option>
                                            <option value="ט">ט</option>
                                            <option value="י">י</option>
                                            <option value='י"א'>י"א</option>
                                            <option value='י"ב'>י"ב</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">בני כמה אתם</label>
                                        <input type="text" class="form-control" name="age" placeholder="בני כמה אתם?">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">מאיזה בית ספר
                                            אתם?</label>
                                        <select class="form-select" name="school">
                                            <% for(let school of schools){ %>
                                                <option value="<%=school.name%>">
                                                    <%=school.name%>
                                                </option>
                                                <% } %>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="mb-3">
                                        <label for="formFile" class="form-label">בחרו תמונה</label>
                                        <input class="form-control" name="image" type="file" id="formFile">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <button class="btn btn-success" type="submit">העלה נתונים</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

</body>

</html>