<h1>בתי הספר המשתתפים בתחרות</h1>
<h4>בית ספר 6 שנתי</h4>
<table style="border: 0;">
  <tr>
    <td
      style=" border-radius: 25px; background: #ffe6e6; padding:20px; width: 95px; height: 10px; border-style: ridge;">
      הגימנסיה הריאלית מקיף א'
      <br>
      <p> משתתפים 40 </p>
    </td>

    <td style=" border-radius: 25px; background: #e6eeff; padding:20px; width: 95px; height: 10px; border-style: ridge">
      אוריה מקיף ב'
      <br>
      <p> משתתפים 37 </p>
    </td>
    <td
      style=" border-radius: 25px; background: #ffe6e6; padding:20px; width: 95px; height: 10px; border-style: ridge;">
      העמית מקיף ג'
      <p> משתתפים 12 </p>
    </td>
    <td style=" border-radius: 25px; background: #e6eeff; padding:20px; width: 95px; height: 10px; border-style: ridge">
      גימנסיה גן נחום מקיף ד'
      <br>
      <p> משתתפים 35 </p>
    </td>
    <td
      style=" border-radius: 25px; background: #ffe6e6; padding:20px; width: 95px; height: 10px; border-style: ridge;">
      אמירים מקיף ה'
      <p> משתתפים 54 </p>

    </td>
    <td style=" border-radius: 25px; background: #e6eeff; padding:20px; width: 95px; height: 10px; border-style: ridge">
      גאל אלון מקיף ו'
      <br>
      <p> משתתפים 65 </p>
    </td>
    <td
      style=" border-radius: 25px; background: #ffe6e6; padding:20px; width: 95px; height: 10px; border-style: ridge;">
      רביבים מקיף ז'
      <p> משתתפים 49 </p>

    </td>
    <td style=" border-radius: 25px; background: #e6eeff; padding:20px; width: 95px; height: 10px; border-style: ridge">
      חיים בר לב מקיף ח'
      <br>
      <p> משתתפים 20 </p>
    </td>
  </tr>
</table>
<table style=" border-collapse:separate; 
                border-spacing:0 15px;">
  <tr>
    <td style=" border-radius: 25px; background: #e6eeff; padding:20px; width: 95px; height: 10px; border-style: ridge">
      נאות אשלים- דוד אלעזר מקיף ט'
      <br>
      <p> משתתפים 10 </p>
    </td>
    <td style=" border-radius: 25px; background: #ffe6e6; padding:20px; width: 95px; height: 10px; border-style: ridge">
      אלברט איינשטיין מקיף י'
      <br>
      <p> משתתפים 34 </p>
    </td>
    <td style=" border-radius: 25px; background: #e6eeff; padding:20px; width: 95px; height: 10px; border-style: ridge">
      ראשונים- אילן רמון מקיף י"א
      <br>
      <p> משתתפים 19 </p>
    </td>
    <td style=" border-radius: 25px; background: #ffe6e6; padding:20px; width: 95px; height: 10px; border-style: ridge">
      המעיין מקיף י"ב
      <br>
      <p> משתתפים 30 </p>
    </td>
    <td style=" border-radius: 25px; background: #e6eeff; padding:20px; width: 95px; height: 10px; border-style: ridge">
      מקיף י"ג - יצחק נבון
      <br>
      <p> 10 </p>
    </td>
    <td style=" border-radius: 25px; background: #ffe6e6; padding:20px; width: 95px; height: 10px; border-style: ridge">
      ישיבת בני עקיבא
      <br>
      <p> משתתפים 90 </p>
    </td>
    <td style=" border-radius: 25px; background: #e6eeff; padding:20px; width: 95px; height: 10px; border-style: ridge">
      מקיף חקלאי ויצ"ו נחלת יהודה
      <br>
      <p> משתתפים 12 </p>
    </td>
    <td style=" border-radius: 25px; background: #ffe6e6; padding:20px; width: 95px; height: 10px; border-style: ridge">
      נתיב האולפנה
      <br>
      <p> משתתפים 13 </p>
    </td>
    <td style=" border-radius: 25px; background: #e6eeff; padding:20px; width: 95px; height: 10px; border-style: ridge">
      נפתלי ידלין מקיף ט"ו
      <br>
      <p> משתתפים 6 </p>
    </td>
  </tr>
</table>
<h4>חטיבה</h4>
<table>
  <tr>
    <td style=" border-radius: 25px; background: #ffe6e6; padding:20px; width: 95px; height: 10px; border-style: ridge">
      דורות
      <br>
      <p> משתתפים 15 </p>
    </td>
    <td style=" border-radius: 25px; background: #e6eeff; padding:20px; width: 95px; height: 10px; border-style: ridge">
      דתית אוריה מקיף ב' חטיבת ביניים
      <br>
      <p> משתתפים 16 </p>
    </td>
    <td style=" border-radius: 25px; background: #ffe6e6; padding:20px; width: 95px; height: 10px; border-style: ridge">
      אחרון הבילויים
      <br>
      <p> משתתפים 17 </p>
    </td>
    <td style=" border-radius: 25px; background: #e6eeff; padding:20px; width: 95px; height: 10px; border-style: ridge">
      דתית אוריה מקיף ב' חטיבת ביניים
      <br>
      <p> משתתפים 18 </p>
    </td>
    <td style=" border-radius: 25px; background: #ffe6e6; padding:20px; width: 95px; height: 10px; border-style: ridge">
      זלמן ארן
      <br>
      <p> משתתפים 10 </p>
    </td>
    <td style=" border-radius: 25px; background: #e6eeff; padding:20px; width: 95px; height: 10px; border-style: ridge">
      רבין-אמירים
      <br>
      <p> משתתפים 8 </p>
    </td>
    <td style=" border-radius: 25px; background: #ffe6e6; padding:20px; width: 95px; height: 10px; border-style: ridge">
      טביב
      <br>
      <p> משתתפים 6 </p>
    </td>
    <td style=" border-radius: 25px; background: #e6eeff; padding:20px; width: 95px; height: 10px; border-style: ridge">
      רייסר
      <br>
      <p> משתתפים 2 </p>
    </td>

    <td style=" border-radius: 25px; background: #ffe6e6; padding:20px; width: 95px; height: 10px; border-style: ridge">
      מיכה
      <br>
      <p> משתתפים 11 </p>
    </td>
  </tr>
</table>
<table style=" border-collapse:separate; border-spacing:0 15px;">
  <tr>
    <td style=" border-radius: 25px; background: #e6eeff; padding:20px; width: 95px; height: 10px; border-style: ridge">
      בר לב
      <br>
      <p> משתתפים 17 </p>
    </td>
    <td style=" border-radius: 25px; background: #ffe6e6; padding:20px; width: 95px; height: 10px; border-style: ridge">
      אשלים-קריית גנים
      <br>
      <p> משתתפים 18 </p>
    </td>
    <td style=" border-radius: 25px; background: #e6eeff; padding:20px; width: 95px; height: 10px; border-style: ridge">
      אבני החושן
      <br>
      <p> משתתפים 19 </p>
    </td>
    <td style=" border-radius: 25px; background: #ffe6e6; padding:20px; width: 95px; height: 10px; border-style: ridge">
      הראשונים
      <br>
      <p> משתתפים 21 </p>
    </td>
    <td style=" border-radius: 25px; background: #e6eeff; padding:20px; width: 95px; height: 10px; border-style: ridge">
      המעיין
      <br>
      <p> משתתפים 19 </p>
    </td>
    <td style=" border-radius: 25px; background: #ffe6e6; padding:20px; width: 95px; height: 10px; border-style: ridge">
      מקיף חקלאי ויצ"ו נחלת יהודה
      <br>
      <p> משתתפים 22 </p>
    </td>
    <td style=" border-radius: 25px; background: #e6eeff; padding:20px; width: 95px; height: 10px; border-style: ridge">
      נתיב האולפנה
      <br>
      <p> משתתפים 32 </p>
    </td>
    <td style=" border-radius: 25px; background: #ffe6e6; padding:20px; width: 95px; height: 10px; border-style: ridge">
      ישיבת בני עקיבא
      <br>
      <p> משתתפים 9 </p>
    </td>
    <td style=" border-radius: 25px; background: #e6eeff; padding:20px; width: 95px; height: 10px; border-style: ridge">
      מקיף י"ג ע"ש יצחק נבון
      <br>
      <p> משתתפים 46 </p>
    </td>
  </tr>
</table>
<h4>תיכון</h4>
<table style=" border-collapse:separate; border-spacing:0 15px;">
  <tr>
    <td style=" border-radius: 25px; background: #ffe6e6; padding:20px; width: 95px; height: 10px; border-style: ridge">
      תיכון טומשין
      <br>
      <p> משתתפים 27 </p>
    </td>
    <td style=" border-radius: 25px; background: #e6eeff; padding:20px; width: 95px; height: 10px; border-style: ridge">
      תיכון טכנולוגי נעמת ראשון לציון
      <br>
      <p> משתתפים 23 </p>
    </td>
    <td style=" border-radius: 25px; background: #ffe6e6; padding:20px; width: 95px; height: 10px; border-style: ridge">
      רשת החינוך אנקורי
      <br>
      <p> משתתפים 34 </p>
    </td>
    <td style=" border-radius: 25px; background: #e6eeff; padding:20px; width: 95px; height: 10px; border-style: ridge">
      רון ורדי תלמידים מחוננים ומצטיינים
      <br>
      <p> משתתפים 32 </p>
    </td>
    <td style=" border-radius: 25px; background: #ffe6e6; padding:20px; width: 95px; height: 10px; border-style: ridge">
      מאורות
      <br>
      <p> משתתפים 30 </p>
    </td>
    <td style=" border-radius: 25px; background: #e6eeff; padding:20px; width: 95px; height: 10px; border-style: ridge">
      כנסת מאיר
      <br>
      <p> משתתפים 9 </p>
    </td>
    <td style=" border-radius: 25px; background: #ffe6e6; padding:20px; width: 95px; height: 10px; border-style: ridge">
      נזר ישראל
      <br>
      <p> משתתפים 1 </p>
    </td>
  </tr>
</table>