<section id="topLiked" class="py-4">
  <div class="container">
    <h1 id="title">החיות האהובות ביותר</h1>
    <div class="row mt-4" style="flex-wrap: nowrap;">
      <div class="col-10 col-md-4">
        <div class="card">
          <img src="https://i.pinimg.com/564x/2d/bb/56/2dbb562f5f44674f58054b162c2e0451.jpg" class="card-img-top1"
            alt="Costume">
          <div class="card-body">
            <h4>
              <p>&hearts; 234</h5>
              <p>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-10 col-md-4">
        <div class="card">
          <img src="https://i.pinimg.com/564x/2d/bb/56/2dbb562f5f44674f58054b162c2e0451.jpg" class="card-img-top1"
            alt="Costume">
          <div class="card-body">
            <h4>
              <p>&hearts; 234</h5>
              <p>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-10 col-md-4">
        <div class="card">
          <img src="https://i.pinimg.com/564x/2d/bb/56/2dbb562f5f44674f58054b162c2e0451.jpg" class="card-img-top1"
            alt="Costume">
          <div class="card-body">
            <h4>
              <p>&hearts; 234</h5>
              <p>
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-md-4 my-4" style="flex-wrap: nowrap;">
      <div class="col-md-3 col-8">
        <div class="card">
          <img src="https://i.pinimg.com/564x/94/cc/77/94cc7734059a1d0a19aba928a4a061c7.jpg" class="card-img-top"
            alt="Costume">
          <div class="card-body">
            <h4>
              <p>&hearts; 198</h5>
              <p>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-8">
        <div class="card">
          <img src="https://i.pinimg.com/564x/94/cc/77/94cc7734059a1d0a19aba928a4a061c7.jpg" class="card-img-top"
            alt="Costume">
          <div class="card-body">
            <h4>
              <p>&hearts; 198</h5>
              <p>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-8">
        <div class="card">
          <img src="https://i.pinimg.com/564x/94/cc/77/94cc7734059a1d0a19aba928a4a061c7.jpg" class="card-img-top"
            alt="Costume">
          <div class="card-body">
            <h4>
              <p>&hearts; 198</h5>
              <p>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-8">
        <div class="card">
          <img src="https://i.pinimg.com/564x/94/cc/77/94cc7734059a1d0a19aba928a4a061c7.jpg" class="card-img-top"
            alt="Costume">
          <div class="card-body">
            <h4>
              <p>&hearts; 198</h5>
              <p>
            </h4>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>