<div class="container-fluid">
  <div class="container1">
    <h1 id="title">תחפושות מובילות</h1>
    <div class="row my-5 justify-content-around">
      <div class="col-md-3">
        <div class="card">
          <!--<span class="dot2">2</span>-->
          <img src="https://i.pinimg.com/564x/2d/bb/56/2dbb562f5f44674f58054b162c2e0451.jpg" class="card-img-top1"
            alt="Costume">
          <div class="card-body">
            <h4>
              <p>&hearts; 234</h5>
              <p>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-md-3 my-3">
        <div class="card">
          <!--<span class="dot1">1</span>-->
          <img src="https://i.pinimg.com/564x/71/04/4e/71044e64052e9aed67d3c5e5501137d4.jpg" class="card-img-top1"
            alt="Costume">
          <div class="card-body">
            <h4>
              <p>&hearts; 357</h5>
              <p>s
            </h4>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <!--<span class="dot3">3</span>-->
          <img src="https://i.pinimg.com/564x/33/6a/0e/336a0e08eb289639c3b350df56f492f6.jpg" class="card-img-top1"
            alt="Costume">
          <div class="card-body">
            <h4>
              <p>&hearts; 225</h5>
              <p>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container3">
    <div class="row" id="img4">
      <div class="col-md-3 my-4">
        <div class="card">
          <img src="https://i.pinimg.com/564x/15/41/ee/1541ee6767609202abcd7a6317665582.jpg" class="card-img-top"
            alt="Costume">
          <div class="card-body">
            <h4>
              <p>&hearts; 203</h5>
              <p>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-md-3 my-4">
        <div class="card">
          <img src="https://i.pinimg.com/564x/65/44/91/654491bf7f1b37aa5f78bfb0b517c65c.jpg" class="card-img-top"
            alt="Costume">
          <div class="card-body">
            <h4>
              <p>&hearts; 178</h5>
              <p>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-md-3 my-4">
        <div class="card">
          <img src="https://i.pinimg.com/564x/fe/f3/69/fef369b632889cb0469ddea8bb8b5c29.jpg" class="card-img-top"
            alt="Costume">
          <div class="card-body">
            <h4>
              <p>&hearts; 113</h5>
              <p>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="card">
          <img src="https://i.pinimg.com/564x/94/cc/77/94cc7734059a1d0a19aba928a4a061c7.jpg" class="card-img-top"
            alt="Costume">
          <div class="card-body">
            <h4>
              <p>&hearts; 198</h5>
              <p>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>