<html>
<body>
    <div class="container"></div>
<div class="row d-flex justify-content-around">
         <% for(var i=0;i<animals.length;i++){ %>
                     <p>
                         <%=animals[i].name%>
                     </p>
             <%}%>
 </div>
 </body>
</html>