<center>
    <html>
    <body>
        <h1>shani's page</h1>
        <p>welcome to my page</p>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
              </ul>
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </nav>
        <img src="https://www.kipa.co.il/userFiles/280-160/1_77fd6894fc80a8bf4f2915fbd8549594_1.jpg" class="img-fluid" alt="פורים שמח בראשון לציון" max-width: 100%; height: auto;>
        <p>ברוכים הבאים לאתר העלאת התחפושות של כל אזרחי ראשון לציון כאן תוכלו להעלות תמונות שלכם מחופשים, לצפות הבתחפושות של חבריכם ולפרגן לתחפושות היפות ביותר</p>
        <button class="btn btn-primary btn-lg" $btn-white-space: nowrap type="submit">Button</button>
        <button type="button" class="btn btn-outline-primary">העלאת תמונה</button>


    </body>
    </html>
    </center>