.card-body{
    background-color: #f3f3f3;
}
.container1{
    background-color: #e7b587;
    padding-bottom: 2rem;
}
.container2{
    background-color: #e7b587;
}
#title{
    color: black;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.dot1 {
    height: 70px;
    width: 70px;
    text-align: center;
    font-size: 50px;
    font-family: 'Varela Round', sans-serif;
    margin: 5px 5px 5px 5px;
    background-color: rgb(212, 156, 0);
    border-radius: 50%;
    position: absolute
  }
  .dot2 {
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 35px;
    font-family: 'Varela Round', sans-serif;
    margin: 5px 5px 5px 5px;
    background-color: rgb(126, 126, 126);
    border-radius: 50%;
    position: absolute
  }
  .dot3 {
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 35px;
    font-family: 'Varela Round', sans-serif;
    margin: 5px 5px 5px 5px;
    background-color: rgb(143, 90, 31);
    border-radius: 50%;
    position: absolute
  }
 .card {
     position: relative;
  }
  .card-img-top1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 18rem;
    width: 18rem;
    object-fit: cover;
    border-radius: 5px;
  }
  .card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    border-radius: 5px;
  }