#header{
    height: 90%;
}

#header .row{
    height: inherit;
}

#theMain {
    object-fit: cover;
    border-radius: 20px;
    /* width: 800px; */
}

#theWords {
    position: relative;
    font-size: 30px;
    list-style-type: none;
}

#send {
    border-radius: 20px;
    background-color: cornflowerblue;
    color: cornsilk;
    font-size: 30px;
}

#container2 {
    padding-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

#circle {
    position: absolute;
    z-index: -1;
    top: 5%;
    right: 55%;
    background-color: lightpink;
    border-radius: 500px;
    height: 100px;
    width: 100px;
}

#circle1 {
    position: absolute;
    z-index: -1;
    top: 80%;
    right: 50%;
    background-color: lightpink;
    border-radius: 500px;
    height: 100px;
    width: 100px;
}

#circle2 {
    position: absolute;
    z-index: -1;
    top: 7%;
    right: 75%;
    background-color: lightpink;
    border-radius: 500px;
    height: 100px;
    width: 100px;
}

#circle3 {
    position: absolute;
    z-index: -1;
    top: 50%;
    right: 95%;
    background-color: lightpink;
    border-radius: 500px;
    height: 100px;
    width: 100px;
}

#circle4 {
    position: absolute;
    z-index: -1;
    top: 5%;
    right: 5%;
    background-color: lightpink;
    border-radius: 500px;
    height: 100px;
    width: 100px;
}

#circle5 {
    position: absolute;
    z-index: -1;
    top: 58%;
    right: 10%;
    background-color: lightpink;
    border-radius: 500px;
    height: 100px;
    width: 100px;
}

#circle6 {
    position: absolute;
    z-index: -1;
    top: 62%;
    right: 71%;
    background-color: lightpink;
    border-radius: 500px;
    height: 100px;
    width: 100px;
}