/* #header{
    height: 90%;
} */

#header .row{
    height: inherit;
}

#theMain {
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, .19);
    /* width: 800px; */
}

#theWords {
    position: relative;
    font-size: 30px;
    list-style-type: none;
}

#send {
    border-radius: 20px;
    background-color:#38B6FF;
    color: cornsilk;
    border: unset !important;
    font-size: 30px;
    padding: 0 15px;
    box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, .19);
    transition: 0.2s all ease-in-out;
}
#send:hover{
    background-color: lightpink;
    color: black;
}

#container2 {
    padding-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

#circle {
    position: absolute;
    z-index: -1;
    top: 5%;
    right: 40%;
    background-color: rgba(255, 182, 193, 0.378);
    border-radius: 500px;
    height: 100px;
    width: 100px;
}

#circle1 {
    position: absolute;
    z-index: -1;
    top: 50%;
    right: 50%;
    background-color: rgba(255, 182, 193, 0.378);
    border-radius: 500px;
    height: 100px;
    width: 100px;
}

#circle2 {
    position: absolute;
    z-index: -1;
    top: 7%;
    right: 85%;
    background-color: rgba(255, 182, 193, 0.378);
    border-radius: 500px;
    height: 100px;
    width: 100px;
}

#circle3 {
    position: absolute;
    z-index: -1;
    top: 50%;
    right: 95%;
    background-color: rgba(255, 182, 193, 0.378);
    border-radius: 500px;
    height: 100px;
    width: 100px;
}

#circle4 {
    position: absolute;
    z-index: -1;
    top: 5%;
    right: 5%;
    background-color: rgba(255, 182, 193, 0.378);
    border-radius: 500px;
    height: 100px;
    width: 100px;
}

#circle5 {
    position: absolute;
    z-index: -1;
    top: 58%;
    right: 10%;
    background-color: rgba(255, 182, 193, 0.378);
    border-radius: 500px;
    height: 100px;
    width: 100px;
}

#circle6 {
    position: absolute;
    z-index: -1;
    top: 62%;
    right: 81%;
    background-color: rgba(255, 182, 193, 0.378);
    border-radius: 500px;
    height: 100px;
    width: 100px;
}