html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    position: relative;
    font-family: "Rubik", "Arial";
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* 
body h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: white;
} */

nav .active {
    font-weight: bold;
    color: black !important;
}

.carousel img {
    height: 100%;
    object-fit: cover;
}

/* header {
    width: 70%;
    height: 80%;
    margin: 0 auto;
} */

/* header .container {
    height: 85%;
    position: relative;
}

header img {
    height: 350px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, .19);
}

header h2 {
    font-weight: bold;
    font-size: 36px;
    color: rgba(55, 55, 55, 1);
}

header p {
    color: gray;
} */

.round {
    position: absolute;
    top: 30%;
    right: 30%;
    background-color: black;
    border-radius: 500px;
    height: 50px;
    width: 50px;
}

nav form input {
    border-radius: 20px !important;
}

/** CIRCLES **/

.circle {
    height: 100px;
    width: 100px;
    background-color: #FFE5E5;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}

.first {
    top: 10%;
    left: 10%;
}

.second {
    bottom: 10%;
    right: 10%;
}

.third {
    bottom: 10%;
    left: 20%;
}

.fourth {
    top: 15%;
    right: 20%;
}

.fifth {
    top: 15%;
    left: 45%;
}

/** LEADING **/

#leading {
    background-color: #FFE5E5;
    min-height: 50%;
    width: 100%;
    padding: 40px 0;
}

#leading h3 {
    text-align: center;
}

.leader {
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}

.leader img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.leader .bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #E5E5E5;
}

.subLeader {
    width: 12%;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.19);
    padding: 0 !important;
    position: relative;
}

.subLeader img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.subLeader .bottom {
    height: 20%;
    width: 100%;
    background-color: #E5E5E5;
    position: absolute;
    bottom: 0;
}

/** PARTICIPANTS **/

#participants {
    min-height: 50%;
    overflow-x: hidden;
}

#participants h3 {
    text-align: center;
}

.neighborCard:nth-child(even) {
    background-color: lightpink !important;
    border: 5px solid white;
}

.neighborCard:nth-child(odd) {
    background-color: #0090FF;
    border: 5px solid white;
    color: white;
}

.neighborCard:nth-child(odd):hover {
    color: lightgray;
}

.neighborCard:nth-child(even):hover {
    /* color: black ; */
}

#participants .card {
    background-color: transparent;
    margin: 0 10px;
}

/* NEW STYLES */

header {
    height: 90%;
}

header .row {
    height: inherit;
}

.neighborCard {
    background-color: lightgray;
    padding: 35px 10px;
    text-align: center;
    border-radius: 10px;
    color: black;
    text-decoration: none;
}

.navImage {
    height: 35px;
}

#topLiked .row {
    overflow-x: hidden;
}

.profile {
    box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.19);
}

#allAnimalsLink {
    color: gray;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 20px;
    text-decoration: none;
    background-color: white;
    font-size: 1.3rem;
    padding: 3px 7px;
    border-radius: 5px;
    box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.19);
    transition: 0.2s color ease-in-out;
}

#allAnimalsLink:hover {
    color: rgba(30, 30, 30, 1);
}

@media screen and (max-width:767px) {
    .navImage {
        height: 25px;
    }
    .biggerPhoto {
        /* height: 50px; */
    }
    #topLiked .row {
        overflow-x: scroll;
    }
}

/* PICTURES */

.pictures_row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 9px;
}

/* Create four equal columns that sits next to each other */

.pictures_column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    margin-bottom: 10vh;
}

.pictures_column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.fullPhoto .adjust {
    height: 55vh !important;
    object-fit: cover;
}

/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 800px) {
    .fullPhoto {
        width: 90% !important;
    }
    .pictures_column {
        flex: 50%;
        max-width: 50%;
        margin-bottom: 30px !important;
    }
    .bottom_left {
        left: unset !important;
    }
    .card-body {
        padding: 0 !important;
    }
    .pictures_column img {
        margin-top: unset !important;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

#allNeighborhoods {
    transition: 0.3s all ease-in-out;
}