/* html, body {
     height: 100%;
    width: 100%;
    margin: 0;
    position: relative;
    font-family: "Rubik","Arial"; 
} */

/* body h1 {
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold; 
} */

nav .active{
    font-weight: bold;
    color: black !important;
}
.avbar-nav me-auto mb-2 mb-lg-0{
    text-align: right;
}
#title1{
    text-align: left;
    font-size: 20px;
    color:rgb(54, 63, 63);
}
#text{
    text-align: right;
  padding: 3px 6px;
  margin-top: 4px;
  margin-right: 10px;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 15px;  
  color:rgb(54, 61, 61);
 
}
/* .ms-4{
    text-align:right;
    border-radius: 50%;
} */
.nav-link{
    text-align: right"
}
.nav-link{
    text-align: right"
}
/* body{
    background-color: rgb(179, 185, 185);
} */
.end_image{
    margin-right:20px;
}

h2{
    font-size: large;
    color:black;
}