<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <!-- <a class="navbar-brand" href="#">Alice Code</a> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ms-md-5" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">דף הבית</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/school">בתי ספר</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/customes">תחפושות</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shani">shani's page</a>
                    </li>
                </ul>
                <img src="assets/images/rishon.svg" height="35px" alt="">
                <img src="assets/images/kehila.png" class="ms-4" height="40px" alt="">
                <a href="https://www.alicecode.org" target="_blank" rel="noopener noreferrer">
                    <img src="assets/images/alicecode.png" class="ms-4" height="40px" alt="">
                </a>
                <img class="mx-4" src="assets/images/startup.svg" height="35px" alt="">
            </div>
        </div>
    </nav>